html,body { 
    height:100%;
    margin:0px;
}
#top-header {
    float:left;
    background-color: #ffffff;
    margin-top:0px;
    margin-bottom:0px;
    width:100%;
  
} 
#name {
    float:left;
    background-color:#4aaaa5;
    color:white;
    height:50px;
    width:200px;
    padding-top:20px;
    padding-bottom:0px;
    text-align:center;
    margin-left:200px;
    margin-top:20px;
    margin-bottom:0px;
}
#name-contact {
    float:left;
    background-color:#4aaaa5;
    color:white;
    height:50px;
    width:200px;
    padding-top:20px;
    padding-bottom:0px;
    text-align:center;
    margin-left:300px;
    margin-top:20px;
    margin-bottom:0px;
}
#a-about {
    float:left;
    margin-left:550px;
    margin-top:40px;
    color:#777777;
    font-family: Arial, Helvetica, sans-serif;
    background-color:#ffffff;
    padding-top:10px;
    text-decoration:none;
}
#a-about-contact {
    float:left;
    margin-left:350px;
    margin-top:40px;
    color:#777777;
    font-family: Arial, Helvetica, sans-serif;
    background-color:#ffffff;
    padding-top:10px;
    text-decoration:none;
}
#a-port {
    float:left;
    margin-left:10px;
    color:#777777;
    font-family: Arial, Helvetica, sans-serif;
    background-color:#ffffff;
    padding-top:10px;
    margin-top:40px;
    text-decoration:none;

}
#a-port-contact {
    float:left;
    margin-left:10px;
    color:#777777;
    font-family: Arial, Helvetica, sans-serif;
    background-color:#ffffff;
    padding-top:10px;
    margin-top:40px;
    text-decoration:none;

}
#a-contact {
    float:left;
    margin-left:10px;
    color:#777777;
    font-family: Arial, Helvetica, sans-serif;
    background-color:#ffffff;
    padding-top:10px;
    margin-top:40px;
    text-decoration:none;
}
#a-contact-contact {
    float:left;
    margin-left:10px;
    color:#777777;
    font-family: Arial, Helvetica, sans-serif;
    background-color:#ffffff;
    padding-top:10px;
    margin-top:40px;
    text-decoration:none;
}

#background-content {
    clear: both;
    overflow:auto;
    background-image: url("../images/gravel.png");
    width:100%;
    height:80%;
}
#background-content-contact {
    clear: both;
    overflow:auto;
    background-image: url("../images/gravel.png");
    height:70%;
    margin:0px;
    padding-bottom:60px;
    width:100%;
}
#background-content-portfolio {
    clear: both;
    overflow:auto;
    background-image: url("../images/gravel.png");
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}
#main-content {
    clear:both;
    overflow:auto;
    width:960px;
    height:75%;
    background-color:#ffffff;
    border-color:#dddddd;
    margin-left:200px;
    margin-top:30px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 150%;
}
#main-content-contact {
    clear:both;
    overflow:auto;
    width:700px;
    background-color:#ffffff;
    border-color:#dddddd;
    margin-left:300px;
    margin-top:30px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 125%;
    padding:10px;
}
#main-content-portfolio {
    clear:both;
    overflow:auto;
    width:700px;
    /* height:550px; */
    height:90%;
    background-color:#ffffff;
    border-color:#dddddd;
    margin-left:300px;
    margin-top:10px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 150%;
    padding:10px;
}
img {
    margin:15px;
    height:125px;
    width:150px;
    float:left;
    /* image-orientation: 180deg; */
}

#aboutme {
    padding-top:20px;
    margin-top:10px;
    margin-left:20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color:#ffffff;
    color:#4aaaa5;
}
#contactme {
    padding-top:10px;
    margin-top:10px;
    margin-left:10px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color:#ffffff;
    color:#4aaaa5;
}
#portfolio {
    padding-top:10px;
    margin-top:10px;
    margin-left:10px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color:#ffffff;
    color:#4aaaa5;
}
p {
    margin:15px;
    color:#777777;
    font-family: Arial, Helvetica, sans-serif;
}
hr {
    margin:10px;
}
.footer {
    background-color:#666666;
    border-top-color: #4aaaa5;
    color:white;
    height:30px;
    width: 100%;
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top:-20px;
    padding-top:20px;

}
#nameContact {
    clear:both;
    overflow:auto;
    color:#777777;
    padding:0px;
    margin-left:10px;
    margin-bottom:0px;
}
#nameinput {
    width:95%;
    margin-left:10px;
    padding:0px;
    margin-bottom:0px;
}
#emailContact {
    margin-top:0px;
    margin-left:10px;
    color:#777777;
    padding:0px;
    margin-bottom:0px;
}
#emailinput {
    width:95%;
    margin-left:10px;
    padding:0px;
    margin-bottom:0px;
    margin-top:0px;
}
#messageContact {
    margin-left:10px;
    color:#777777;
    padding:0px;
    margin-bottom:0px;
    margin-top:0px;
}
#messageinput {
    width:95%;
    height:160px;
    margin-left:10px;
    padding:0px;
    margin-bottom:0px;
    margin-top:0px;
}
#submitbutton {
    margin-left:10px;
    background-color:#4aaaa5;
    color:white;
}
#image1-1 {
    float:left;
    margin-left:10px;
    width:30%;
}
#Hangman {
    position: absolute;
    margin-left:10px;
    margin-top:110px;
    width:210px;
    background-color:#4aaaa5;
    color:white;
    text-align:center;
    font-family: 'Georgia', Times, Times New Roman, serif;
}
#image1-2 {
    float:left;
    margin-left:10px;
    width:30%; 
}
#RPGGame {
    position: absolute;
    margin-left:245px;
    margin-top:110px;
    background-color:#4aaaa5;
    color:white;
    width: 210px;
    text-align:center;
    font-family: 'Georgia', Times, Times New Roman, serif;
}
/* Second Image Row */
#image2-1 {
    float:left;
    margin-left:10px;
    width:30%;
}
#Trivia {
    position: absolute;
    margin-left:10px;
    margin-top:265px;
    width:210px;
    background-color:#4aaaa5;
    color:white;
    text-align:center;
    font-family: 'Georgia', Times, Times New Roman, serif;
}
#image2-2 {
    float:left;
    margin-left:10px;
    width:30%;
}
#Rutgers {
    position: absolute;
    margin-left:245px;
    margin-top:265px;
    background-color:#4aaaa5;
    color:white;
    width: 210px;
    text-align:center;
    font-family: 'Georgia', Times, Times New Roman, serif;
}
#image3-1 {
    float:left;
    margin-left:10px;
    width:30%;
   
}
#Rock {
    position: absolute;
    margin-left:10px;
    margin-top:420px;
    background-color:#4aaaa5;
    color:white;
    width: 210px;
    text-align:center;
    font-family: 'Georgia', Times, Times New Roman, serif;
}
h6 {
    padding:0px;
    margin:0px;
}